/* Text Elements */

h1 span.heading-text-2 {
  text-transform: none;
}

h1.heading-3 {
  text-align: center;
  font-size: 29px;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

h1 span.heading-text-3 {
  font-size: 1.875rem;
}

h1.heading-4 {
  text-align: center;
  font-weight: 400;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  line-height: 30px;
}

h2.title-about {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  font-family: 'Poppins', cursive;
}

h2.direction-text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  font-family: 'Poppins', cursive;
}

h5 span.heading-text-4 {
  font-size: 1rem;
}

h5 span.heading-text-5 {
  font-weight: 700;
}

h5 span.heading-text-6 {
  font-weight: 600;
}

h5 span.heading-text-7 {
  font-weight: 600;
}

h5 span.heading-text-8 {
  font-weight: 600;
}

h5.heading-5 {
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
  text-align: left;
  font-size: 22px;
}

p.paragraph.paragraph-2 {
  margin-top: 0;
  color: #8c8c8c;
  text-align: left;
  font-family: 'Poppins', cursive;
  line-height: 30px;
}

p.paragraph#paragraph-1 {
  margin-top: 32px;
}

blockquote.blockquote-1 {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
  font-size: 5vw;
  font-family: 'Poppins', cursive;
  line-height: unset;
}

blockquote span.blockquote-text-1 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 0;
}

blockquote span.blockquote-text-4 {
  font-weight: 700;
}

blockquote span.blockquote-text-5 {
  font-weight: 500;
}

blockquote span.blockquote-text-6 {
  font-weight: 600;
}

blockquote span.blockquote-text-7 {
  font-weight: 600;
}

a.link-text.menu-item {
  margin-right: 3rem;
  margin-left: 3rem;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: 'Poppins', cursive;
}

a.link-text.menu-item.mobile-link {
  margin-right: 0;
  margin-left: 0;
  color: #000;
  font-size: 18px;
}

a.link-text.logo-menu-item {
  margin-right: 3rem;
  margin-left: 3rem;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: 'Archivo', cursive;
}

a.link-text span.text-link-text-1 {
  color: #000;
}

a.link-text.logo-menu {
  padding-left: 16px;
  color: #000;
  font-weight: 700;
  font-size: 26px;
  font-family: 'Poppins', cursive;
}

a.link-text.text-link-1 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

a.link-text.menu-item:hover {
  color: #000;
  -webkit-transition-delay: 0s, 0s;
     -moz-transition-delay: 0s, 0s;
       -o-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
  -webkit-transition-timing-function: ease, linear;
     -moz-transition-timing-function: ease, linear;
       -o-transition-timing-function: ease, linear;
          transition-timing-function: ease, linear;
  -webkit-transition-duration: 0s, .3s;
     -moz-transition-duration: 0s, .3s;
       -o-transition-duration: 0s, .3s;
          transition-duration: 0s, .3s;
  -webkit-transition-property: all, all;
     -moz-transition-property: all, all;
       -o-transition-property: all, all;
          transition-property: all, all;
}

a.link-text.logo-menu-item:hover {
  -webkit-transform: skewX(0deg);
     -moz-transform: skewX(0deg);
       -o-transform: skewX(0deg);
          transform: skewX(0deg);
}

/* Layout Elements */

body.body-1 {
  background-color: #fff;
}

.container-grid.nav-extended {
  position: relative;
  top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  box-shadow: none;
}

.container-grid.desktop-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: center;
  float: none;
  -ms-flex-align: center;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: none;
  width: 100%;
  background-color: transparent;
  vertical-align: top;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
          align-self: auto;
  grid-template-columns: none;
  grid-template-rows: none;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
}

div.responsive-picture {
  max-width: none;
}

.container-grid.sidenav {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: start;
  -ms-flex-align: center;
  padding-top: 40px;
  min-height: 100vh;
  width: 61.8%;
  background-color: #fff;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
}

.container-grid.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-align: center;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1024px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container-grid.container-9 {
  display: block;
  min-height: 100vh;

  grid-template-columns: auto;
  grid-template-rows: repeat(7 , minmax(50vh, auto));
  grid-template-areas: 'cont-4' 'cont-5' 'cont-6' 'cont-7' 'cont-8' 'cont-9' 'cont-10';
}

.container-grid.container-quote {
  display: block;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  min-height: 0vh;
  border-width: 0;
  border-style: solid;
  background-color: #fff;

  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
}

.container-grid.desktop-nav.hide-on-med-and-down {
  display: block;
  background-color: #f4f4f4;
}

.container-grid.container-20 {
  display: block;
  border-width: .125rem;
  border-style: solid;
  background-color: #f4f4f4;
}

.container-grid.container-24 {
  display: grid;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding-top: 64px;
  padding-right: 16px;
  padding-left: 16px;
  min-height: 60vh;

  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container-grid.container-38 {
  display: grid;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container-grid.container-41 {
  padding-top: 0;
  padding-right: 16px;
  padding-left: 16px;
  min-height: 50vh;
  background-color: #fff;
}

.container-grid.container-40 {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 960px;
}

.container-grid.container-42 {
  min-height: auto;
}

.container-grid.container-47 {
  float: right;
}

a.glyph.sidenav-trigger {
  position: relative;
  margin-right: 0;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  color: #000;
  font-size: 32px;
  line-height: 64px;
}

a.glyph.sidenav-trigger i {
  font-size: 32px;
}

.container-grid.container-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
}

.container-grid.nav-wrapper {
  display: block;
  -ms-flex-pack: start;
  -ms-flex-align: start;
  background-color: transparent;

  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
}

.container-grid.video-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-align: center;
  padding-bottom: 0;
  width: auto;
  height: auto;
  background-image: none;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 0 0;
  background-repeat: no-repeat;

  background-blend-mode: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

video.html-video-1 {
  position: static;
  display: block;
  margin: 0 0 5px 5%;
  padding-right: 0;
  width: auto;
  border-width: .1875rem;
  border-style: double;

  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  grid-area: auto / auto / auto / auto;
  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
          align-self: auto;
}

a.responsive-picture.picture-link-1 {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: auto;
}

a.responsive-picture.picture-link-2 {
  margin-top: 20px;
  margin-left: 0;
  width: auto;
}

a.responsive-picture.picture-link-3 {
  margin-top: 5px;
  width: auto;
}

a.responsive-picture.picture-link-4 {
  margin-top: 5px;
  width: auto;
}

.container-grid.sd-four-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-align: center;
  margin-right: 0;
  margin-left: 100px;
  padding-right: .75rem;

  grid-template-columns: auto;
  grid-template-rows: repeat(4 , auto);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

div.responsive-picture.picture-4 > picture > img {
  -o-object-position: 50% center;
     object-position: 50% center;
}

div.responsive-picture.picture-4 {
  float: left;
  margin-right: 10px;
  width: 50%;
  border-width: .0625rem;
  border-style: solid;
}

ul.list-container.list-container-1 {
  display: block;
}

.container-grid.container-10 {
  margin: 16px;
  min-height: 200px;
  background-color: #ff9e9e;
  background-image: url('../SITE/1-2.jpeg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: repeat;
  -webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;

  grid-area: cont-4;
  background-blend-mode: normal;
}

.container-grid.sidenav.show-menu {
  background-color: rgba(255, 255, 255, .9);
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
}

.container-grid.container-10:hover {
  background-color: #ff9e9e;

  background-blend-mode: multiply;
}

@supports ((display: -webkit-flex) or (display: flex)) {
  /* Text Elements */

  h1.heading-3 {
    text-shadow: #78828c 2px 2px 5px;
    font-size: 20px;
  }

  h1.heading-4 {
    text-shadow: #78828c 2px 2px 5px;
    font-size: 0;
    line-height: 18px;
  }

  h1.heading-16 {
    margin-top: 0;
    text-align: center;
    text-shadow: #78828c 1px 1px 5px;
    font-weight: 700;
    font-size: 29px;
    font-family: 'Poppins', cursive;
    line-height: 31px;
  }

  h1 a.heading-text-36 {
    color: #000;
  }

  h1 span.heading-text-40 {
    color: #000cff;
  }

  h2.title-about {
    text-align: center;
    font-size: 30px;
  }

  h2.direction-text {
    text-align: center;
  }

  h4.heading-5 {
    margin-left: 6px;
    font-weight: 600;
    font-size: 20px;
  }

  h5.heading-5 {
    display: block;
    margin-left: 7px;
  }

  h5 span.heading-text-1 {
    font-style: italic;
  }

  h5 span.heading-text-10 {
    font-style: italic;
    font-size: 1.25rem;
  }

  h5 span.heading-text-12 {
    font-style: italic;
    font-size: 1.125rem;
  }

  h5 span.heading-text-13 {
    font-style: italic;
    font-size: .75rem;
  }

  h5 span.heading-text-14 {
    font-size: .875rem;
    font-family: 'Poppins', cursive;
    line-height: 0;
  }

  h5 span.heading-text-15 {
    font-weight: 600;
  }

  h5 span.heading-text-16 {
    font-size: .9375rem;
    font-family: 'Poppins', cursive;
    line-height: 0;
  }

  h5 span.heading-text-17 {
    font-weight: 700;
  }

  h5 span.heading-text-18 {
    font-size: .9375rem;
    font-family: 'Poppins', cursive;
    line-height: 0;
  }

  h5.heading-2 {
    margin-bottom: 15px;
    padding-bottom: 6px;
    border-width: .125rem;
    border-style: double;
    text-align: center;
    font-style: italic;
    font-size: 17px;
  }

  h5.heading-8 {
    text-align: center;
    font-size: 20px;
  }

  h5.heading-9 {
    font-size: 20px;
  }

  h5 span.heading-text-19 {
    font-weight: 600;
    font-size: .9375rem;
    font-family: 'Poppins', cursive;
    line-height: 0;
  }

  h5.heading-10 {
    font-size: 20px;
  }

  h5 span.heading-text-20 {
    font-size: .9375rem;
    font-family: 'Poppins', cursive;
    line-height: 1;
  }

  h5 span.heading-text-21 {
    font-size: 1.25rem;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  }

  h5.heading-11 {
    background-color: rgba(2, 115, 255, .07);
    text-align: center;
    text-shadow: #78828c 2px 2px 5px;
  }

  h5.heading-12 {
    text-align: center;
    text-shadow: rgba(120, 130, 140, 1) 2px 2px 5px, #78828c 2px 2px 5px;
    font-size: 16px;
    font-family: 'Poppins', cursive;
  }

  h5 span.heading-text-22 {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  }

  h5.heading-13 {
    border-width: .0625rem;
    border-style: solid;
    background-color: rgba(0, 38, 255, .18);
    color: #000;
    text-align: center;
    text-shadow: #78828c 2px 2px 5px;
    font-size: 18px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  }

  h5 a.heading-text-9 {
    color: #000;
  }

  h5 span.heading-text-23 {
    font-size: 1.3125rem;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  }

  h5.heading-14 {
    border-width: .0625rem;
    border-style: solid;
    background-color: rgba(0, 41, 255, .1);
    text-align: center;
    text-shadow: #78828c 2px 2px 5px;
    font-size: 20px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  }

  h5 span.heading-text-24 {
    letter-spacing: -.125rem;
    font-weight: 100;
    font-family: 'Erica One', cursive;
  }

  h5 span.heading-text-25 {
    font-weight: 700;
    font-family: 'Asset', cursive;
  }

  h5 a.heading-text-26 {
    text-decoration: underline;
  }

  h5 span.heading-text-27 {
    font-weight: 600;
  }

  h5 span.heading-text-28 {
    font-weight: 600;
  }

  h5 span.heading-text-11 {
    font-weight: 600;
  }

  h5 span.heading-text-29 {
    font-weight: 600;
  }

  h5 span.heading-text-30 {
    font-weight: 600;
  }

  h5 span.heading-text-31 {
    font-weight: 600;
  }

  h5 span.heading-text-8 {
    font-weight: 500;
  }

  h5 span.heading-text-32 {
    font-weight: 600;
  }

  h5 span.heading-text-33 {
    font-weight: 500;
  }

  h5 span.heading-text-34 {
    font-style: italic;
    font-size: .75rem;
  }

  h5 span.heading-text-35 {
    font-size: 1.125rem;
  }

  h6.heading-6 {
    position: -webkit-sticky;
    position:         sticky;
    margin-left: 9px;
    font-weight: 600;
    font-size: 10px;
  }

  h6.heading-7 {
    position: -webkit-sticky;
    position:         sticky;
    right: auto;
    bottom: 600px;
    display: block;
    float: right;
    margin-top: 1px;
    margin-right: 38px;
    margin-bottom: 7%;
    color: rgba(0, 30, 255, .87);
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    font-size: 10px;

    justify-self: auto;
    grid-area: auto /auto/ auto / auto;
  }

  h6.heading-1 {
    position: static;
    margin: 0 0 0 auto;
    color: #fff;
    text-align: center;
    text-shadow: #0d0500 4px 4px 5px;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    line-height: 17px;

    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
  }

  h6.heading-15 {
    position: relative;
    right: auto;
    left: auto;
    display: block;
    margin-top: 12px;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 7px;
    color: #fff;
    text-align: center;
    text-shadow: #ff5c00 3px 3px 5px;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Poppins', cursive;
    line-height: 12px;

    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
  }

  h6 a.heading-text-37 {
    color: #fff;
    font-size: 1.125rem;
  }

  h6 a.heading-text-38 {
    color: #fff;
    font-size: .8125rem;
  }

  h6 a.heading-text-39 {
    color: #fff;
  }

  p.paragraph span.paragraph-text-1 {
    font-weight: 600;
  }

  p.paragraph span.paragraph-text-2 {
    font-weight: 600;
  }

  p.paragraph span.paragraph-text-4 {
    font-style: italic;
    font-size: .75rem;
    line-height: 1;
  }

  p.paragraph span.paragraph-text-5 {
    font-weight: 600;
  }

  p.paragraph span.paragraph-text-6 {
    font-weight: 700;
  }

  p.paragraph.paragraph-2 {
    color: #000;
    font-size: 15px;
    line-height: 24px;
  }

  p.paragraph span.paragraph-text-9 {
    font-weight: 600;
  }

  p.paragraph span.paragraph-text-10 {
    color: #f00;
    text-decoration: none;
    letter-spacing: -.0625rem;
    font-weight: 600;
    font-size: .9375rem;
    font-family: 'Alfa Slab One', cursive;
    line-height: 0;
  }

  p.paragraph span.paragraph-text-11 {
    font-family: 'Brush Script MT', cursive;
  }

  p.paragraph span.paragraph-text-12 {
    text-decoration: none;
  }

  p.paragraph a.paragraph-text-13 {
    text-decoration: underline;
  }

  blockquote.blockquote-2 {
    display: block;
    float: none;
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', cursive;
  }

  blockquote.blockquote-1 {
    font-weight: 400;
    font-size: 15px;
    line-height: inherit;
  }

  blockquote span.blockquote-text-1 {
    font-size: 1.0625rem;
  }

  blockquote span.blockquote-text-2 {
    line-height: 1;
  }

  blockquote span.blockquote-text-3 {
    font-weight: 600;
  }

  blockquote span.blockquote-text-8 {
    font-style: italic;
  }

  a.link-text.text-link-1 {
    color: #000;
    text-shadow: rgba(0, 128, 255, .57) 2px 2px 5px;
    font-size: 19px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  }

  ul.list-container.list-container-1 {
    position: static;
    display: grid;
    -ms-flex-order: 0;

    -webkit-box-flex: 0;
    -webkit-flex: 0 4 0px;
       -moz-box-flex: 0;
        -ms-flex: 0 4 0px;
            flex: 0 4 0px;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
       -moz-box-ordinal-group: 1;
            order: 0;
    justify-self: auto;
    grid-template-columns: auto;
    grid-template-rows: repeat(3 , auto);
    grid-auto-flow: row;
  }

  div.responsive-picture.picture-4 {
    position: static;
    display: block;
    margin-left: 100px;
    padding-left: 0;
    width: 80%;
  }

  .container-grid.nav-wrapper {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
            align-content: flex-start;
    grid-auto-rows: 1px;
    grid-auto-columns: 1px;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
  }

  a.responsive-picture.picture-link-1 {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    max-width: 300px;
    border: .0625rem solid #000;
  }

  .container-grid.sd-four-cols {
    display: block;
    float: none;
    min-height: 0;
  }

  a.responsive-picture.picture-link-2 {
    max-width: 300px;
    border: .0625rem solid #000;
  }

  a.responsive-picture.picture-link-3 {
    max-width: 300px;
    border: .0625rem solid #000;
  }

  a.responsive-picture.picture-link-4 {
    max-width: 300px;
    border: .0625rem solid #000;
  }

  div.responsive-picture.picture-4 > picture > img {
    -o-object-position: 50% center;
       object-position: 50% center;
  }

  div.responsive-picture.picture-1 {
    border-style: solid;
  }

  .container-grid.container-9 {
    min-height: auto;
    width: auto;
  }

  .container-grid.container-2 {
    position: absolute;
    right: 50%;
    left: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    margin: -73px auto 0 auto;
    padding-right: 0;
    padding-left: 0;

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
  }

  .container-grid.container-4 {
    position: absolute;
    right: 30%;
    left: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    margin: -45px auto 0 auto;
    padding-right: 0;
    padding-left: 0;

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
    justify-items: center;
  }

  .container-grid.container-10 {
    background-color: transparent;
    background-image: url('../SITE/1-2.jpeg');
    background-attachment: scroll;
    background-position: 50% 50%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: cover;
    background-repeat: repeat;

    background-blend-mode: normal;
  }

  .container-grid#container-1 {
    background-image: url('../SITE/familia-Augusto-1711610561.jpeg');
  }

  .container-grid#container-2 {
    background-image: url('../SITE/quadrilha.jpg');
  }

  .container-grid#container-3 {
    background-image: url('../SITE/felipe_augusto_reinaldinho.jpg');
  }
}

@media screen and (min-width: 22.5rem) {
  /* Text Elements */

  blockquote.blockquote-1 {
    font-size: 36px;
  }

  .container-grid.container-quote {
    min-height: auto;
  }

  .container-grid.container-8 {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 37.5625rem) {
  /* Text Elements */

  a.link-text.menu-item {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  a.link-text.logo-menu-item {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 52.4375rem) {
  /* Text Elements */

  a.link-text.menu-item {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  a.link-text.logo-menu-item {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .container-grid.container-9 {
    grid-template-areas: 'cont-4 cont-6' 'cont-5 cont-7' 'cont-8 cont-9' 'cont-10 cont-10';
    grid-template-columns: 50% minmax(50%, 1px);
    grid-template-rows: repeat(4 , minmax(50vh, auto));
  }

  .container-grid.container-quote {
    min-height: 30vh;
  }

  .container-grid.container-38 {
    display: grid;
    min-width: 0;
  }

  .container-grid.container-10 {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 62.0625rem) {
  /* Text Elements */

  a.link-text.menu-item {
    margin-right: 3rem;
    margin-left: 3rem;
    color: #8c8c8c;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Poppins', cursive;
  }

  a.link-text.logo-menu-item {
    margin-right: auto;
    margin-left: 0;
    padding-left: 32px;
    color: #000;
    font-weight: 700;
    font-size: 31px;
    font-family: 'Poppins', cursive;
  }

  .container-grid.nav-extended {
    position: static;
    z-index: 1;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .container-grid.desktop-nav.hide-on-med-and-down {
    padding-bottom: 0;
    background-color: #fff;
  }

  .container-grid.nav-wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 75.0625rem) {
  /* Text Elements */

  a.link-text.logo-menu-item {
    margin-left: 0;
  }
}

@media screen and (min-width: 87.5rem) {
  /* Text Elements */

  a.link-text.logo-menu-item:hover {
    color: #feffe0;
    font-weight: 700;
  }

  .container-grid.container-quote {
    min-height: 30vh;
  }

  .container-grid.container-20 {
    background-color: #f4f4f4;
  }

  .container-grid.container-9 {
    grid-template-areas: 'cont-4 cont-6' 'cont-5 cont-7' 'cont-10 cont-8' 'cont-10 cont-9';
  }
}